#fontPage {
  width: 60%;
  max-width: 1100px;
  border: 1px solid black;
  border-radius: 25px;
}

#fontPage__main {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

#font_example {
  border: 1px solid black;
  border-radius: 18px;

  padding: 10px;
  margin-top: 10px;
}

#main__header {
  display: flex;
  justify-content: space-between;
}

#googleButton {
  font-size: 18px;
  padding: 5px 10px;
  border: 1px solid black;
  border-radius: 18px;

}

#googleButton:hover {
  cursor: pointer;
}

#googleButton:active {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
  }

@media only screen and (max-width: 1049px) {
  #fontPage {
    width: 95%;
  }
  #font_example{
    font-size: 14px;
  }

  #main__header > p{
    font-size: 18px;
  }

  #downloadButton{
    font-size: 14px;
  }

  
}
