.fontPanel {
  width: 500px;
  height: 140px;

  padding: 15px;

  border: 2px solid gray;
  border-radius: 25px;

  cursor: pointer;

  background-color: #f7f7f7;
  overflow: hidden;
}

.fontPanel__text {
  display: -webkit-box;
  max-width: 100%;
  margin: 10px auto;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fontPanel__name {
    font-size: 18px;
}

@media only screen and (min-width: 1050px) and (max-width: 1550px) {
    .fontPanel{
        height: 120px;
      }

      .fontPanel__text{
        font-size: 20px;
        margin: 5px auto;
      }

      .fontPanel__name{
        font-size: 16px;
      }
  }
  
  @media only screen and (max-width: 1049px) {
      .fontPanel{
        width: 350px;
        height: 100px;
        padding: 10px;
      }

      .fontPanel__text{
        font-size: 16px;
        margin: 5px auto;
      }

      .fontPanel__name{
        font-size: 14px;
      }
  }