* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 24px;
}

#wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#wrapper > h1 {
  font-size: 72px;
  margin-top: 75px;
}

#textInput {
  width: 60%;
  height: 50px;
  padding: 15px;

  font-size: 22px;

  margin-top: 50px;

  border-radius: 25px;
}

#panelDiv{
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(2, 1fr);

  margin-top: 70px;
}